<div>
    <div>
        <input type="text" ng-model="newPerson.name"/>
        <input type="button" value="Add" ng-click="addNew()"/>
    </div>
    <table>
        <tr>
            <td>Name</td>
        </tr>
        <tr ng-repeat="person in people.$values | orderBy : name">
            <td>
                {{person.name}}
            </td>
            <td>
                <a href="#/expenses">Expenses</a>
            </td>
            <td>
                <a href="#/debts">Debts</a>
            </td>
        </tr>
    </table>
</div>