<div>
    <div>{{personName}} expenses</div>
    <div>
        <a href="#/addexpense/{{personId}}">Add</a>
    </div>
    <table>
        <tr>
            <td>Name</td>
            <td>Date</td>
            <td>Place</td>
            <td>Amount</td>
        </tr>
        <tr ng-repeat="expense in expenses.$values">
            <td>{{expense.description}}</td>
            <td>{{expense.date}}</td>
            <td>{{expense.place}}</td>
            <td>{{expense.amount}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>Total:</td>
            <td></td>
        </tr>
    </table>
</div>