<div class="row">
    <table>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" ng-model="newUser.email"/>
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="text" ng-model="newUser.password" />
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password
            </td>
            <td>
                <input type="text" ng-model="newUser.confirmPassword" />
            </td>
        </tr>
    </table>
</div>